*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&family=Inria+Serif&family=Roboto:wght@100&display=swap');
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(../img/fondo6.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
.card-box{
    position: relative;
    width: 430px;
    height: 740px;
    background: transparent;
    border: 1px solid rgb(241, 236, 236);
    border-radius: 25px;
    -webkit-backdrop-filter: blur(15px); backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-value{
    text-align: center;
}

.botonera a{
    width: 300px;
    height: 38px;
    border-radius: 40px;
    background: rgb(241, 136, 79);
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif; 
}
.botonera a:hover{
    background: rgb(173, 173, 173);
}


.botonera1 a{
    width: 300px;
    height: 38px;
    border-radius: 40px;
    background: rgb(92, 179, 176);
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif; 
}
.botonera1 a:hover{
    background: rgb(173, 173, 173);
}

.botonera2 a{
    width: 300px;
    height: 38px;
    border-radius: 40px;
    background: rgb(99, 154, 208);
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif; 
}
.botonera2 a:hover{
    background: rgb(173, 173, 173);
}

.botonera3 a{
    width: 300px;
    height: 38px;
    border-radius: 40px;
    background: rgb(188, 127, 181);
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif; 
}
.botonera3 a:hover{
    background: rgb(173, 173, 173);
}

.botonera4 a{
    width: 300px;
    height: 38px;
    border-radius: 40px;
    background: rgb(231, 128, 168);
    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif; 
}
.botonera3 a:hover{
    background: rgb(173, 173, 173);
}



#agenda{
    background:rgb(39, 205, 108) ;
}

.social-links a{
    background: none;
    color: rgb(105, 88, 175);
    font-size: 40px;
}
.fa-address-book{
    font-size: 35px;
}

.parrafo{
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px;

}

h2{
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 1px;
} 

h3{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 1px;
    color: rgb(206, 40, 40);
}

.foto{
    height: 89px;
    width: 340px;
    margin-left: 10px;
    /* border-radius: 50%; */
}

